[user]
	name = Daragh Casey
	email = daragh.casey@gmail.com

[alias]
	chart = log --graph --all --format=format:'%C(bold red)%h%C(reset) %cn %C(bold green)(%cr)%C(reset)%C(bold red)%d%C(reset) %s' --abbrev-commit --date=relative
