[user]
	name = Daragh Casey
	email = daragh.casey@gmail.com
[alias]
    chart = log --graph --format=format:'%C(red)%h%C(reset) %an %C(green)(%ad)%C(reset)%C(red)%d%C(reset) %s' --abbrev-commit --date=relative
    aa = add --all
    st = status
    di = diff
    dc = diff --cached
    co = checkout
    ci = commit
    br = branch
    mt = mergetool
    ff = merge --ff-only
    noff = merge --no-ff
    fa = fetch --all
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
[init]
	templatedir = ~/.git_template
[merge]
	tool = vimdiff
[core]
	excludesfile = ~/.gitignore_global
[init]
	templatedir = ~/.git_template
